@page "/Account"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject IJSRuntime JS
@inject NavigationManager Navigation
<Authenticate @ref="Authenticator" RedirectIfNotAuthenticated="true">
	<Authenticated>
		<h1>Your Account</h1>
		@if (Authenticator is not null)
		{
			<p>
				Username: @CurrentUser.Value!.Username
			</p>
			<p>
				Full Name: @CurrentUser.Value!.ToString()
			</p>
		}
		<a @onclick="Logout">Log Out</a>
	</Authenticated>
</Authenticate>

@code{
	Authenticate? Authenticator { get; set; } = null;
	[CascadingParameter]
	public CascadingObject<User> CurrentUser { get; set; } = null!;

	async Task Logout()
	{
		await JS.InvokeVoidAsync("localStorage.clear");
		await JS.InvokeVoidAsync("sessionStorage.clear");
		Navigation.NavigateTo("/", true);
	}
}