@page "/Latest"
@using BlogSite.Data.Services;
@inject BlogPostLoader BlogPosts
<h1>Latest on this site</h1>

<Authenticate>
	<div id="wrapper">
		@foreach(var post in GetLatestPosts().ToList().OrderByDescending(x => x.PublishedOn))
		{
			<BlogPostPreview Post="post"/>
		}
	</div>
</Authenticate>

@code {
	public BlogPost[] GetLatestPosts()
	{
		return BlogPosts.GetPosts(maxCount: 10);
	}
}
