@using Microsoft.JSInterop.Infrastructure;
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Navigation

<header>
	@if (string.IsNullOrEmpty(arrow))
	{
		UpdateDropdown();
	}
	<a href="/">@GetType().Assembly.GetName().Name!.Humanize()</a>
	<a @onclick='UpdateDropdown' id="dropdown-button"><span style="font-family: 'Cascadia Code', Courier New, Courier, monospace;">@arrow</span> Menu</a>
	@if (showItems || ViewportWidth > 700 || ViewportWidth < 0)
	{
		<a class="dropdown-item" href="/Latest">Latest</a>
		<a class="dropdown-item" href="/Archive">Archive</a>
	}
</header>
<main>
	@Body
</main>

@code{
    bool showItems = false;
    int ViewportWidth = -1;
    string arrow = "";
    const string ArrowUp = "▶";
    const string ArrowDown = "▼";
    void UpdateDropdown()
    {
        showItems = !showItems;
        if (showItems)
        {
            arrow = ArrowDown;
        }else
        {
            arrow = ArrowUp;
        }
        StateHasChanged();
    }

    async Task<int> GetPixelWidth()
    {
        int vw = await JS.InvokeAsync<int>("GetDeviceWidth");
        return vw;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int vw = await GetPixelWidth();
        if (vw != ViewportWidth)
        {
            ViewportWidth = vw;
            StateHasChanged();
        }
    }
}